compile = "javac -cp .:lib/postgresql-42.7.3.jar --module-path javafx-sdk-18.0.2/lib --add-modules javafx.controls Main.java"
run = "java -cp .:lib/postgresql-42.7.3.jar --module-path javafx-sdk-18.0.2/lib --add-modules javafx.controls Main"

entrypoint = "Main.java"
hidden = ["**/*.class", "javafx-sdk-18.0.2", "lib/postgresql-42.7.3.jar"]

[unitTest]
language = "java"

[nix]
channel = "stable-22_11"

[agent]
expertMode = true
